@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-dark font-sans overflow-x-hidden antialiased;
  }
}

.noise-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999; /* Higher than everything */
  opacity: 0.05;
}
